.slider h3,
.slider h5 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container {
  height: 80%;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.2 !important;
}

.clients img {
  max-width: 200px;
  filter: drop-shadow(1px, 1px, 1px rgba(0, 0, 0, 1));
}

.about {
  height: 80%;
}

section {
  padding: 20px 0;
}

footer {
  height: 250px;
  padding: 20px 0;
}
